/** @format */

body {
	background-image: url("weather-icons.jpg");
	background-size: 300px 250px;
}

.container {
	border-style: groove;
	border-color: #41637e;
	border-width: 4px;
	background-color: lightgray;
	opacity: 0.9;
}

.favorable {
	background-color: darkkhaki;
}

.moderate {
	background-color: darkolivegreen;
}

.severe {
	background-color: darkred;
}

#search-button {
	font-size: 1.5em;
	background-color: lightseagreen;
}

.forecast-day {
	margin: 1em 0;
	padding: 0.5em;
	color: white;
	background-color: lightseagreen;
	max-width: 15em;
	border-style: groove;
}

.my-top {
	text-align: center;
	background-color: salmon;
	opacity: 1;
	color: black;
}

/*changing the city name to uppercase on display */
.capitalize {
	text-transform: capitalize;
}

.info-container {
	background-color: salmon;
	border-style: groove;
	margin: 1em 0;
	padding: 0.5em;
}
