/** @format */

.container {
	border-style: double;
	border-color: blue;
	border-width: 4px;
}

.favorable {
	background-color: darkkhaki;
}

.moderate {
	background-color: darkolivegreen;
}

.severe {
	background-color: darkred;
}

#search-button {
	font-size: 1.5em;
	background-color: lightseagreen;
}

.forecast-day {
	margin: 1em 0;
	padding: 0.5em;
	color: white;
	background-color: lightseagreen;
	max-width: 15em;
	border-style: groove;
}

.my-top {
	text-align: center;
	background-color: salmon;
	opacity: 0.8;
	color: black;
}

/*changing the city name to uppercase on display */
.capitalize {
	text-transform: capitalize;
}
